<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="clientDao" class="ua.com.sliusar.dao.impl.ClientDaoDBImpl">
        <constructor-arg name="db_url" value="jdbc:h2:tcp://localhost/~/JavaProjects/MyLuxoftProject/src/main/resources/DB/WorkBase"></constructor-arg>
        <constructor-arg name="password" value="sa"></constructor-arg>
        <constructor-arg name="user" value=""></constructor-arg>
    </bean>
    <bean id="validationService" class="ua.com.sliusar.validators.impl.ValidationServiceImp"></bean>
    <bean id="clientService" class="ua.com.sliusar.services.impl.ClientServiceImpl">
        <constructor-arg name="clientDAO" ref="clientDao"></constructor-arg>
        <constructor-arg name="validationService" ref="validationService"></constructor-arg>
    </bean>


</beans>